@model ms_tech.ViewModels.SolucionesViewModel

@{
    ViewBag.Title = "Borrar";
}

<h2>
    Solución:&nbsp;
    @Html.DisplayFor(model => model.Descripcion)
</h2>

<h3>Esta seguro que desea borrar esta solución?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Producto
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Productos.Nombre)
        </dd>
        
        <dt>
            Problema
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Problemas.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Activo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Activo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaCreacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaCreacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaModificacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaModificacion)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Borrar" class="btn btn-default" /> |
            @Html.ActionLink("Volver", "Index")
        </div>
    }
</div>
