@model ms_tech.ViewModels.SolucionesViewModel

@{
    ViewBag.Title = "Detalles";
}

<h2>
    Solución:&nbsp;
    @Html.DisplayFor(model => model.Descripcion)
</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Producto
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Productos.Nombre)
        </dd>
        
        <dt>
            Problema
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Problemas.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Activo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Activo)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.IdSolucion }) |
    @Html.ActionLink("Volver", "Index")
</p>
