@model ms_tech.ViewModels.SolucionesViewModel
@using ms_tech.Helpers;

@{
    ViewBag.Title = "Detalles";
}

<h2>
    Solución:&nbsp;
    @Html.DisplayFor(model => model.Descripcion)
</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Producto
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Productos.Nombre)
        </dd>
        
        <dt>
            Problema
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Problemas.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Activo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Activo)
        </dd>

    </dl>
</div>
<p>
    @Html.IconButton("Volver", "Index", "Soluciones", null, null, "")
    @Html.IconButton("Editar", "Edit", "Soluciones", new { id = Model.IdSolucion }, null, "")
</p>
