@model IEnumerable<ms_tech.ViewModels.SolucionesViewModel>
@using ms_tech.Helpers;

@{
    ViewBag.Title = "Lista de Soluciones";
}

<h2>@ViewBag.Title</h2>

<p>
    @Html.ActionLink("Nueva Solución", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Productos.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Problemas.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Activo)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Productos.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Problemas.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Descripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Activo)
        </td>
        <td>
            @Html.ImageActionLink("Editar", "Edit", "Soluciones", new { id = item.IdSolucion }, null) |
            @Html.ImageActionLink("Detalles", "Details", "Soluciones", new { id = item.IdSolucion }, null) |
            @Html.ImageActionLink("Eliminar", "Delete", "Soluciones", new { id = item.IdSolucion }, null)
        </td>
    </tr>
}

</table>
