@model ms_tech.Models.Productos
@using ms_tech.Helpers;

@{
    ViewBag.Title = "Detalles";
}

<h2>
    Producto:&nbsp;
    @Html.DisplayFor(model => model.Nombre)
</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Activo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Activo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaCreacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaCreacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaModificacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaModificacion)
        </dd>

    </dl>
</div>
<p>
    @Html.IconButton("Volver", "Index", "Productos", null, null, "")
    @Html.IconButton("Editar", "Edit", "Productos", new { id = Model.IdProducto }, null, "")
</p>
