@model ms_tech.ViewModels.IncidentesViewModel
@using ms_tech.Helpers;

@{
    ViewBag.Title = "Detalle Incidente";
}

<h2>@ViewBag.Title</h2>

<div>
    <h4>Incidentes</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Cliente
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Clientes.Nombre)
            @Html.DisplayFor(model => model.Clientes.Apellido)
        </dd>
        <dt>
            Producto
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Productos.Nombre)
        </dd>
        <dt>
            Problema
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Problemas.Nombre)
        </dd>

        <dt>
            Usuario
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Usuarios.Nombre)
            @Html.DisplayFor(model => model.Usuarios.Apellido)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fecha)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fecha)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descripcion)
        </dd>

        <dt>
            Prioridad
        </dt>

        <dd>
            @{
                switch (Model.IdPrioridad)
                {
                    case 1:
                        <text>Baja</text>;
                        break;
                    case 2:
                    <text>Media</text>;
                    break;
                    case 3:
                    <text>Alta</text>;
                    break;
                    default:
                    break;
                }
            }
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Calificacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Calificacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Comentario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Comentario)
        </dd>
        <dd>
            <a href="@Url.Action("Imprimir", "Incidentes", new { id = Model.IdIncidente })" class="btn btn-default" target="_blank"><span>Imprimir</span></a>
        </dd>

    </dl>

</div>
<p>
    @Html.IconButton("Volver", "Index", "Incidentes", null, null, "")
    @Html.IconButton("Editar", "Edit", "Incidentes", new { id = Model.IdIncidente }, null)
</p>
