@model IEnumerable<ms_tech.ViewModels.IncidentesViewModel>

@{
    ViewBag.Title = "Lista de Incidentes";
}

<h2>@ViewBag.Title</h2>

<p>
    @Html.ActionLink("Nuevo Incidente", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Cliente
        </th>

        <th>
            Usuario
        </th>
        <th>
            Producto
        </th>
        <th>
            Problema
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fecha)
        </th>
      
        <th>
            Prioridad
        </th>
        <th>
            Estado
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Clientes.Nombre)
                @Html.DisplayFor(modelItem => item.Clientes.Apellido)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Usuarios.Nombre)
                @Html.DisplayFor(modelItem => item.Usuarios.Apellido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Productos.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Problemas.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fecha)
            </td>
            
            <td>
                @{
        switch (item.IdPrioridad)
        {
            case 1:
                <text>Baja</text>;
                break;
            case 2:
            <text>Media</text>;
            break;
            case 3:
            <text>Alta</text>;
            break;
            default:
            break;
        }
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estados.Nombre)
            </td>
            <td>
                @Html.ActionLink("Editar Estado", "EditarEstado", new { id = item.IdIncidente }) |
                @Html.ActionLink("Editar", "Edit", new { id = item.IdIncidente }) |
                @Html.ActionLink("Detalles", "Details", new { id = item.IdIncidente })
               
            </td>
        </tr>
    }

</table>
