@model IEnumerable<ms_tech.Models.Incidentes>

@{
    ViewBag.Title = "Lista de Incidentes";
}

<h2>@ViewBag.Title</h2>

<p>
    @Html.ActionLink("Nuevo Incidente", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Clientes.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Problemas.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Usuarios.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fecha)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Prioridad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Calificacion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Comentario)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Clientes.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Problemas.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Usuarios.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fecha)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Prioridad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Calificacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Comentario)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id = item.IdIncidente }) |
                @Html.ActionLink("Detalles", "Details", new { id = item.IdIncidente }) |
                @Html.ActionLink("Borrar", "Delete", new { id = item.IdIncidente })
            </td>
        </tr>
    }

</table>
