@model ms_tech.Models.Clientes
@using ms_tech.Helpers;

@{
    ViewBag.Title = "Detalles";
}

<h2>
    Cliente:&nbsp;
    @Html.DisplayFor(model => model.Nombre)
    @Html.DisplayFor(model => model.Apellido)
</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ClientesTipos.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClientesTipos.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Apellido)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Apellido)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Mail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Activo)
        </dt>

        <dd>
            @if (Model.Activo)
            {
                <text>Si</text>
            }
            else { 
                <text>No</text>
            }
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Direccion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Direccion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Telefono)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Telefono)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaCreacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaCreacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaModificacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaModificacion)
        </dd>

    </dl>
</div>
<p>
    @Html.IconButton("Volver", "Index", "Clientes", null, null, "")
    @Html.IconButton("Editar", "Edit", "Clientes", new { id = Model.IdCliente }, null, "")
</p>
