@model ms_tech.Models.Usuarios

@{
    ViewBag.Title = "Detalles";
}

<h2>Usuario:&nbsp;
   @Html.DisplayFor(model => model.Nombre)
    @Html.DisplayFor(model => model.Apellido)
    </h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UsuariosTipos.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UsuariosTipos.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Apellido)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Apellido)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Activo)
        </dt>

        <dd>
            @if (Model.Activo)
            {
                <text>Si</text>
            }
            else
            {
                <text>No</text>
            }
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaCreacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaCreacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaModificacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaModificacion)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.IdUsuario }) |
    @Html.ActionLink("Volver", "Index")
</p>
