@model PagedList.IPagedList<ms_tech.Models.Usuarios>
@using PagedList.Mvc;
@using ms_tech.Helpers;

@{
    ViewBag.Title = "Lista de Usuarios";
}

<h2>@ViewBag.Title</h2>

<p>
    @Html.IconButton("Nuevo Usuario", "Create", "Usuarios", null, null, "")
</p>
@using (Html.BeginForm("Index", "Usuarios", FormMethod.Get))
{
    <p>
        @Html.TextBox("SearchString", ViewBag.CurrentFilter as string, new { @class = "form-control", @style = "display:inline-block", @placeholder = "Filtro", @autocomplete = "off" })
        @Html.BotonBuscar()
    </p>
}
<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Tipo", "Index", new { sortOrder = ViewBag.TipoSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            @Html.ActionLink("Email", "Index", new { sortOrder = ViewBag.EmailSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            @Html.ActionLink("Nombre", "Index", new { sortOrder = ViewBag.NombreSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            @Html.ActionLink("Apellido", "Index", new { sortOrder = ViewBag.ApellidoSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            @Html.ActionLink("Activo", "Index", new { sortOrder = ViewBag.ActivoSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UsuariosTipos.Nombre)
            </td>
            <td title="@(item.Email.Length>30 ? item.Email: "")">
                @(item.Email.Length > 30 ? item.Email.Substring(0, 30) + "..." : item.Email)
            </td>
            <td title="@(item.Nombre.Length>30 ? item.Nombre: "")">
                @(item.Nombre.Length > 30 ? item.Nombre.Substring(0, 30) + "..." : item.Nombre)
            </td>
            <td title="@(item.Apellido.Length>30 ? item.Apellido: "")">
                @(item.Apellido.Length > 30 ? item.Apellido.Substring(0, 30) + "..." : item.Apellido)
            </td>
            <td>
                @(item.Activo ? "Si" : "No")
            </td>
            <td>
                @Html.ImageActionLink("Editar", "Edit", "Usuarios", new { id = item.IdUsuario }, null) |
                @Html.ImageActionLink("Detalles", "Details", "Usuarios", new { id = item.IdUsuario }, null) |
                @Html.ImageActionLink("Eliminar", "Delete", "Usuarios", new { id = item.IdUsuario }, null)
            </td>
        </tr>
    }

</table>

@{
    if (Model.PageCount > 1)
    {
        <text>Página</text> @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) <text>de</text> @Model.PageCount

        @Html.PagedListPager(Model, page => Url.Action("Index", new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
    }
}