@model IEnumerable<ms_tech.Models.Problemas>
@using ms_tech.Helpers;

@{
    ViewBag.Title = "Lista de Problemas";
}

<h2>@ViewBag.Title</h2>

<p>
    @Html.ActionLink("Nuevo Problema", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Productos.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Activo)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Productos.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Activo)
        </td>
        <td>
            @Html.ImageActionLink("Editar", "Edit", "Problemas", new { id = item.IdProblema }, null) |
            @Html.ImageActionLink("Detalles", "Details", "Problemas", new { id = item.IdProblema }, null) |
            @Html.ImageActionLink("Eliminar", "Delete", "Problemas", new { id = item.IdProblema }, null)
        </td>
    </tr>
}

</table>
